.container{
    width: 100%;
}
.menu {
    min-height: 80px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    box-shadow: 0px -2px 2px rgba(82,70,86,0.30);
    opacity: 0.9;
    z-index: 5;
}

.menu img {
    margin-top: -5px;
    margin-left: 25px;
}

.menu1, .content, .content1,.strat,
.cont, .note, .green_text ,.textibbl {
    text-transform: uppercase;
}

.menu1 {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 12px;
}

.image {
    width: 100%;
    height: 480px;
    background: url(../img/back.jpg);
    background-position: -900px -3000px;
}

.block{
    margin-top: -40px;
}

.block1 {
    background-color: #fff;
    height: 400px;
}

.block2 {
    background-color: #fff;
    height: 400px;
}

.content {
    padding-top: 40px;
    height: 130px;
    font-size: 8px;
    margin-bottom: 15px;
}

.content1 {
    padding-top: 40px;
    height: 100px;
    font-size: 17px;
    margin-bottom: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.text, .invest, .connect_info,
.cont, .cont1, .rown,
.risk_manegment, .a,
.question, .green_text, .textibbl,
.six_columns, .center,
.center2 {
    text-align: center;
}

.kons_upr a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 12px;
    color: #6a6a6a;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.strat {
    font-size: 11px;
    font-weight: bold;
}

.shema img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.strat_div {
    margin-bottom: 50px;
}

.kons_upr a:hover {
    text-decoration: none;
    color: #00acac;
}

.content1 .text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 43px;
}

.connect_info {
    font-family: 'Lato',Helvetica,sans-serif;
    color:#008080;
    margin-bottom: 40px;
}

.connect_info a {
   color:#008080;
}

.connect_info a:hover {
    text-decoration: none;
    color: #00acac;
}

.symvol {
    margin: 0 10px;
}

.cont {
    margin-top: 40px;
    font-family: 'Righteous',Helvetica,cursive;
    font-size: 12px;
    color: #008080;
}

.cont a {
    color: #000;;
}

.cont a:hover {
    text-decoration: none;
    color: #008080;
}

.line {
    background: #646464;
    min-height: 1px;
    top: 10px;
}

.note {
    padding: 15px 10px;
    background-color: #464646;
    color: #ffffff;
    font-size: 11px;
}

.text_inline {
    margin-bottom: 80px;
    margin-top: 80px;
}

.text_inline:first-letter {
    font-weight: bold;
}

.block2 {
    background-image: url("../img/qbf-service-bg-02.jpg");
    background-attachment: fixed;
    height: 10%;
}

.block_green{
    background-color: #008080;
}

.block_white {
    background-color: #ffffff;
    padding-top: 80px;
}

.text2 {
    margin-bottom: 75px;
}

.text2:first-letter{
    font-weight: bold;
}

.cont1 {
    height: 80px;
    background-color: #f5f5f5;
    padding-top: 15px;
    margin-bottom: 50px;
    font-family: 'Lato',Helvetica,sans-serif;
}

.cont1 span {
    text-transform: none;
    color: #333;
    font-size: 14px;
    font-family: 'Lato',Helvetica,sans-serif;
}

.span1 {
    font-weight: bold;
    color: #000;
}

.rown {
    height: 35px;
    border: 1px solid #ebeceb ;
    margin-bottom: 10px;
    padding-top: 5px;
    font-family: 'Lato',Helvetica,sans-serif;
    font-weight: 100;
    word-spacing: 0px;
    line-height: 26px;
}

.column1 {
    margin-bottom: 50px;
}

.point {
    color: #5fa338;
}

.block_green p {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 11px;
    margin: 15px;
}

.block_green p:last-child {
    font-size: 12px;
}

.block_green>div {
    padding-top: 20px;
}

.two_column {
    height:500px;
}

.risk_manegment {
    background-color: #f5f5f5;
    height:50px;
    font-weight: bold;
    padding-top: 15px;
}


.a {
    height: 90px;
    vertical-align: middle;
    margin-top: 30px;
    padding: 20px;
}

.b {
    border-left: 1px solid #ebeceb;
}

.line2 {
    background: #ebeceb;
    min-height: 1px;
    top: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.set_text {
    font-size: 11px;
}

.link {
    color: #008080;
    font-weight: bold;
}

.link:hover {
    text-decoration: none;
    color: #aeafae;
}

.adoviy_div {
    background-image: url("../img/qbf-service-0011-.jpg");
    background-attachment: fixed;
    background-position: -500px -6000px;
    margin-top: 30px;
}

.grey, .grey2 {
    background-color: #333;
    opacity: 0.95;
}

.green_text {
    color: #00a19a;
    padding-top: 25px;
    font-size: 12px;
}

.horse {
    padding-top: 15px;
}

.bl {
    height: 100px;
    margin: 0 20px 10px;
    background-position: center;
    border: solid #4c4c4c 1px;
    padding: 0;
}

.bl1, .bl2, .bl3, .bl4,
.bl5, .bl6, .bl7, .bl8,
.bl9, .bl10, .bl11, .bl12  {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.bl1 {
    background-image: url("../img/image3366qqqq.png");
}
.bl2 {
   background-image: url("../img/birds.png");
}
.bl3 {
   background-image: url("../img/pen.png");
}
.bl4 {
   background-image: url("../img/town.png");
}
.bl5 {
   background-image: url("../img/sun.png");
}
.bl6 {
   background-image: url("../img/hand.png");
}
.bl7 {
   background-image: url("../img/men.png");
}
.bl8 {
   background-image: url("../img/top.png");
}
.bl9 {
   background-image: url("../img/colons.png");
}
.bl10 {
   background-image: url("../img/airplan.png");
}
.bl11 {
   background-image: url("../img/airplan.png");
}
.bl12 {
   background-image: url("../img/airplan.png");
}

.textibbl {
    color: #ffffff;
    font-size: 11px;
}

.green_fon {
    background-color: #008080;
    opacity: 0.9;
}

.grey2 {
    margin-top: 20px;
}

.six_columns {
    padding-top: 40px;
    margin-bottom: 10px;
}

.six_columns a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
}

.six_columns a:hover {
    text-decoration: none;
    padding: 15px 0;
    background-color: #454548;
    opacity: 0.9;
}

.text_six {
    border: solid #4c4c4c 1px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.melnica {
    margin-top: 90px;
}

.last a {
    text-transform: uppercase;
    color: #333333;
    font-size: 12px;
}

.last a:hover{
    color: #008080;
    text-decoration: none;
}

.link_up {
    margin-bottom: 70px;
}

.line3 {
    background: #ebeceb;
    min-height: 1px;
    margin-bottom: 20px;
}

.center, .center2, .last_div {
    margin-bottom: 20px;
}

.center a {
    margin: 7px;
}

.center2 a {
    font-size: 10px;
}

.last_link {
    color: #000;
    font-size: 10px;
}

.last_link:hover {
    text-decoration: none;
    color: #008080;
}